<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>CloudTaxRN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.cloudtax</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Permission for camera usage.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Giving CloudTax faceID usage permission makes authentication faster.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permission for photo library usage.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.otf</string>
		<string>OpenSans-ExtraBold.otf</string>
		<string>OpenSans-Light.otf</string>
		<string>OpenSans-Medium.otf</string>
		<string>OpenSans-Regular.otf</string>
		<string>circular-std-medium-500.ttf</string>
		<string>CircularStd-Black.ttf</string>
		<string>CircularStd-Bold.ttf</string>
		<string>CircularStd-Book.ttf</string>
		<string>CircularStd-Medium.ttf</string>
		<string>Figtree-Black.ttf</string>
		<string>Figtree-BlackItalic.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-BoldItalic.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-ExtraBoldItalic.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-LightItalic.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-MediumItalic.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-SemiBoldItalic.ttf</string>
		<string>Figtree-Italic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
